{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static 'img/icon.png'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap" rel="stylesheet">

    <title>Iniciar Sesion</title>
</head>

<body>
    <header>
        <div class="logol" href="#">
            <a href="http://127.0.0.1:8000/menu/inicio"><img src="{% static 'img/logo.png' %}" id="logochange"></a>
        </div>

        <ul class="botoness">
            <li><a href="acercade">Acerca de</a></li>
            <li><a href="contacto">Contacto</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </header>
</body>
{% block adicional %}


{% endblock %}

</html>