{% extends 'web_base.html' %}
{% load static %}
{% block adicional %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3f386f0be1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'css/contacto.css'%}">
</head>
<body>
    <div class="p-contact">
        <h1>Contactanos</h1>
        <h4><b><i class="fa-solid fa-envelope"></i> mail: </b></h4>
        <h5>brainstreamproject@gmail.com</h5>
        <h4><b><i class="fa-brands fa-instagram"></i> Seguinos en instagram!</b></h4>
        <h5><a href="">@brainstreamproject</a></h5>
        <h4><b><i class="fa-solid fa-phone"></i> Telefono de contacto: </b></h4>
        <h5>+54 11 3930-9266</h5>
        <h6>El proyecto es administrado y organizado por la institucion EESTN7 IMPA TRQ, cualquier contacto de esta institucion puede derivar a nosotros</h6>
        <img src="{%static 'img/impa.png'%}" alt="">
    </div>
    <div class="mapa">
        <h1><i class="fa-solid fa-location-dot"></i> Ubicación</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.1636614606!2d-58.235592315260476!3d-34.7087593431944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e343e263fa9%3A0x5fa88a6233e34383!2sIMPA!5e0!3m2!1ses!2sar!4v1690682030323!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="equipo">
        <h1>Team</h1>
    </div>
    <div class="contenedor_entero">
        <div class="contenedor_sw">
            <img src="{%static 'img/sw.jpg'%}" alt="">
            <h1>Software</h1>
            <div class="contenedor_kf">
                <h1>Kaufmann Thomas</h1>
                <img src="{%static 'img/kf.jpg'%}" alt="">
                <div class="social">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-google"></i></a>
                </div>
            </div>
            <div class="contenedor_fe">
                <h1>Przybylski Federico</h1>
                <img src="{%static 'img/fe.jpg'%}" alt="">
                <div class="social">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-google"></i></a>
                </div>
            </div>
        </div>
        <div class="contenedor_hw">
            <img src="{%static 'img/hw.jpg'%}" alt="">
            <h1>Hardware</h1>
            <div class="contenedor_arp">
                <h1>Agustin Rosales Porst</h1>
                <img src="{%static 'img/arp.jpeg'%}" alt="">
                <div class="social">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-google"></i></a>
                </div>
            </div>
            <div class="contenedor_nag">
                <h1>Ortuño Alejandro</h1>
                <img src="{%static 'img/nag.jpg'%}" alt="">
                <div class="social">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-google"></i></a>
                </div>
            </div>
        </div>
        <div class="contenedor_ew">
            <img src="{%static 'img/ew.jpg'%}" alt="">
            <h1>Structure</h1>
            <div class="contenedor_jj">
                <h1>Juares Agustin</h1>
                <img src="{%static 'img/jj.jpg'%}" alt="">
                <div class="social">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-google"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/inicio.js' %}"></script>
</body>
</html>
{% endblock %}