{% extends 'web_base.html' %}
{% load static %}
{% block adicional %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{%static 'slick/slick.css'%}">
  <link rel="stylesheet" href="{%static 'slick/slick-theme.css'%}">
  <link rel="stylesheet" href="{%static 'css/inicio.css'%}">
</head>
<body>
  <div class="contenedor">
    <div class="slideshow">
      <div class="slide slide5">
        <img src="{%static 'img/las-ondas-cerebrales-alfa-beta-gamma-mostrando-mayor-actividad-mental-incluida-la-percepcion-y-conciencia-aghkjb (1).jpg'%}" alt="">
        <h1>Recording</h1>
        <h2>Comienza un recording</h2>
        <a href="resultn"><button>Ingresar</button></a>
      </div>
      <div class="slide slide4">
        <img src="{%static 'img/eeg-electrophysiological-monitoring-method-eeg-1304713.jpg'%}" alt="">
        <h1>Mis resultados</h1>
        <h2>Accede a tu historial</h2>
        <a href="historial"><button>Ingresar</button></a>
      </div>
    </div>
  </div>
  <div class="bloque-slider">
    <h2><b>Introducción</b></h2>
    <h3>Esta página es una interfaz de usuario que permite guardar recordings de los datos, 
      visualizarlos en el apartado de historial y descargar un archivo para tenerlos en formatos edf. También incluye un
      apartado experminental donde en un futuro se espera utilizar las señales para detectar epilepsia, y también se espera poder predecir
      los estados emocionales a través de estímulos visuales.
    </h3>
  </div>
  <div class="contacto">
    <div class="p-contact">
      <h1>Contactanos</h1>
      <h4><b><i class="fa-solid fa-envelope"></i> mail: </b></h4>
      <h5>brainstreamproject@gmail.com</h5>
      <h4><b><i class="fa-brands fa-instagram"></i> Seguinos en instagram!</b></h4>
      <h5><a href="">@brainstreamproject</a></h5>
      <h4><b><i class="fa-solid fa-phone"></i> Telefono de contacto: </b></h4>
      <h5>+54 11 3930-9266</h5>
      <h6>El proyecto es administrado y organizado por la institucion EESTN7 IMPA TRQ, cualquier contacto de esta institucion puede derivar a nosotros</h6>
      <img src="{%static 'img/impa.png'%}" alt="">
    </div>
    <div class="mapa">
      <h1><i class="fa-solid fa-location-dot"></i> Ubicación</h1>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.1636614606!2d-58.235592315260476!3d-34.7087593431944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e343e263fa9%3A0x5fa88a6233e34383!2sIMPA!5e0!3m2!1ses!2sar!4v1690682030323!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="contenedor_entero">
      <h1>Equipo</h1>
    <div class="contenedor_sw">
        <img src="{%static 'img/sw.jpg'%}" alt="">
        <h1>Software</h1>
        <div class="contenedor_kf">
            <h1>Kaufmann Thomas</h1>
            <img src="{%static 'img/kf.jpeg'%}" alt="">
            <div class="social">
                <a href="https://www.instagram.com/mamoruk658/"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
        </div>
        <div class="contenedor_fe">
            <h1>Przybylski Federico</h1>
            <img src="{%static 'img/fe.jpeg'%}" alt="">
            <div class="social">
                <a href="https://www.instagram.com/fedeprzy/"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
        </div>
    </div>
    <div class="contenedor_hw">
        <img src="{%static 'img/hw.jpg'%}" alt="">
        <h1>Hardware</h1>
        <div class="contenedor_arp">
            <h1>Agustín Rosales Porst</h1>
            <img src="{%static 'img/arpp.jpeg'%}" alt="">
            <div class="social">
                <a href="https://www.instagram.com/agus_porst/"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
        </div>
        <div class="contenedor_nag">
            <h1>Ortuño Alejandro</h1>
            <img src="{%static 'img/nag.jpeg'%}" alt="">
            <div class="social">
                <a href="https://www.instagram.com/ortu_nahu31/"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
        </div>
    </div>
    <div class="contenedor_ew">
        <img src="{%static 'img/ew.jpg'%}" alt="">
        <h1>Estructura</h1>
        <div class="contenedor_jj">
            <h1>Juares Agustín</h1>
            <img src="{%static 'img/jj.jpeg'%}" alt="">
            <div class="social">
                <a href="https://www.instagram.com/agustinjuaress/"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
        </div>
    </div>
  </div>
  <div class="faq">
    <div class="question">
      <h2>¿Qué es la actividad cerebral y como se produce?</h2>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path 
          d="M3 3L21 21L39 3" 
          stroke="white" 
          stroke-width="7" 
          stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        <h3>La actividad cerebral se refiere a la generación y propagación de señales eléctricas en el cerebro humano. Estas señales eléctricas son el resultado de la actividad de las células nerviosas, conocidas como neuronas, que se comunican entre sí y con otras partes del cuerpo para llevar a cabo una variedad de funciones cognitivas y físicas. La actividad cerebral es fundamental para la función normal del sistema nervioso y es lo que permite que el cerebro procese información, controle el cuerpo y regule numerosas funciones.
          La actividad cerebral se produce mediante la interacción de las neuronas y la transmisión de señales eléctricas a lo largo de estas células. Aquí hay una descripción simplificada de cómo se produce la actividad cerebral:
        <li>Neuronas: El cerebro contiene miles de millones de neuronas, que son células especializadas en transmitir información mediante señales eléctricas. Cada neurona tiene un cuerpo celular, dendritas (extensiones que reciben señales) y un axón (una prolongación que transmite señales).
        </li>
        <li>Comunicación entre neuronas: La comunicación entre neuronas se realiza mediante sinapsis, que son conexiones especializadas entre las dendritas de una neurona y el axón de otra. En estas sinapsis, las neuronas pueden enviar señales eléctricas o químicas para transmitir información.
        </li>
        <li>Potenciales de acción: Cuando una neurona recibe suficientes señales de entrada, puede generar un potencial de acción, que es una ráfaga de actividad eléctrica a lo largo de su axón. El potencial de acción es una respuesta rápida y transitoria que permite a la neurona transmitir información a otras células.
        </li>
        <li>Redes neuronales: El cerebro está organizado en redes neuronales, donde grupos de neuronas trabajan juntas para realizar tareas específicas. La actividad eléctrica se propaga a través de estas redes, permitiendo que el cerebro realice funciones cognitivas, como el pensamiento, la memoria, la percepción y el movimiento.
        </li>
        <li>Ondas cerebrales: Cuando se registra la actividad eléctrica del cerebro mediante un electroencefalograma (EEG), se pueden observar diferentes patrones de ondas cerebrales. Estas ondas cerebrales varían en frecuencia y amplitud, y su patrón puede cambiar según la actividad mental o el estado de vigilia del individuo.
        </li>
      </h3>
      </p>
    </div>
  </div>
  <div class="faq">
    <div class="question">
      <h2>¿Cómo se clasifica la actividad cerebral?</h2>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path 
          d="M3 3L21 21L39 3" 
          stroke="white" 
          stroke-width="7" 
          stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        <h3>La actividad cerebral se clasifica en función de las características de las ondas cerebrales que se registran durante un electroencefalograma (EEG). Las ondas cerebrales se pueden dividir en varias categorías principales, y cada una de ellas se asocia con diferentes estados mentales, niveles de actividad y funciones cerebrales. Las principales clasificaciones de ondas cerebrales incluyen:
          <li>Ondas Delta (0.5-4 Hz): Estas ondas cerebrales son de baja frecuencia y alta amplitud. Suelen estar asociadas con estados de sueño profundo, así como con algunas lesiones cerebrales.
          </li>
          <li>Ondas Theta (4-8 Hz): Las ondas theta son típicas de estados de relajación profunda, meditación y sueño ligero. También pueden estar presentes durante estados de concentración y creatividad.
          </li>
          <li>Ondas Alfa (8-12 Hz): Las ondas alfa son comunes cuando los ojos están cerrados y una persona está relajada pero despierta. Pueden desaparecer cuando se abre los ojos o durante la concentración activa.
          </li>
          <li>Ondas Beta (12-30 Hz): Estas ondas cerebrales son típicas de la vigilia y la actividad mental activa. Se subdividen en ondas beta baja (12-20 Hz) asociadas con la concentración y el estado de alerta, y ondas beta alta (20-30 Hz) asociadas con procesos cognitivos más intensivos.
          </li>
          <li>Ondas Gamma (30-100 Hz): Las ondas gamma son de alta frecuencia y se asocian con la percepción, la atención y la sincronización de la actividad neuronal en procesos cognitivos complejos.
          </li>
        </h3>
      </p>
    </div>
  </div>
  <div class="faq">
    <div class="question">
      <h2>¿Qué es un EEG?</h2>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path 
          d="M3 3L21 21L39 3" 
          stroke="white" 
          stroke-width="7" 
          stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        <h3>
          Un EEG, o electroencefalograma, es una prueba médica que se utiliza para registrar la actividad eléctrica del cerebro. Esta actividad eléctrica se produce debido a la comunicación entre las células nerviosas del cerebro y es fundamental para el funcionamiento normal del sistema nervioso. El EEG registra estas señales eléctricas como ondas cerebrales y ayuda a los médicos a diagnosticar una variedad de trastornos neurológicos y a estudiar la actividad cerebral en diversas situaciones.
          Durante un EEG, se colocan electrodos en el cuero cabelludo del paciente, y estos electrodos registran la actividad eléctrica del cerebro en forma de ondas. Las ondas cerebrales pueden variar en frecuencia y amplitud, y diferentes patrones de ondas pueden indicar diferentes estados mentales o problemas médicos.
        </h3>
      </p>
    </div>
  </div>
  <div class="faq">
    <div class="question">
      <h2>¿Para qué sirve un EEG?</h2>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path 
          d="M3 3L21 21L39 3" 
          stroke="white" 
          stroke-width="7" 
          stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        <h3>
          Un EEG (electroencefalograma) sirve para diversas finalidades relacionadas con la evaluación de la actividad eléctrica del cerebro. A continuación, se enumeran algunas de las principales aplicaciones y usos de un EEG:
          Diagnóstico de epilepsia: El EEG es una herramienta clave en el diagnóstico y la clasificación de la epilepsia. Puede detectar patrones anormales de actividad eléctrica cerebral que son característicos de las convulsiones epilépticas.
          Evaluación de trastornos del sueño: El EEG se usa para estudiar la actividad cerebral durante el sueño y puede ayudar en el diagnóstico de trastornos del sueño como la apnea del sueño y el sonambulismo.
          Diagnóstico de trastornos neurológicos: El EEG puede ayudar en la identificación de trastornos neurológicos como la encefalopatía, la enfermedad de Alzheimer, la demencia y otros problemas cerebrales.
          Monitoreo de pacientes en estado crítico: En unidades de cuidados intensivos (UCI), se utiliza el EEG para monitorear la actividad cerebral de pacientes en coma o con lesiones cerebrales graves. Esto puede ayudar a los médicos a tomar decisiones sobre el tratamiento.
          Evaluación de trastornos del desarrollo en niños: El EEG puede ser útil en el diagnóstico de trastornos del desarrollo cerebral en niños, como el trastorno del espectro autista.
          Investigación científica: Los EEG se utilizan en estudios de investigación para comprender mejor la actividad cerebral en diversas situaciones, como durante la meditación, la toma de decisiones, el procesamiento de la información y otras actividades cognitivas.
          Evaluación de trastornos psiquiátricos: Aunque no es una herramienta de diagnóstico definitivo para trastornos psiquiátricos, el EEG a veces se utiliza en la investigación de enfermedades como la esquizofrenia y la depresión para estudiar las diferencias en la actividad cerebral.
          <li>Diagnóstico de epilepsia: El EEG es una herramienta clave en el diagnóstico y la clasificación de la epilepsia. Puede detectar patrones anormales de actividad eléctrica cerebral que son característicos de las convulsiones epilépticas.
          </li>
          <li>Evaluación de trastornos del sueño: El EEG se usa para estudiar la actividad cerebral durante el sueño y puede ayudar en el diagnóstico de trastornos del sueño como la apnea del sueño y el sonambulismo.
          </li>
          <li>Diagnóstico de trastornos neurológicos: El EEG puede ayudar en la identificación de trastornos neurológicos como la encefalopatía, la enfermedad de Alzheimer, la demencia y otros problemas cerebrales.
          </li>
          <li>Monitoreo de pacientes en estado crítico: En unidades de cuidados intensivos (UCI), se utiliza el EEG para monitorear la actividad cerebral de pacientes en coma o con lesiones cerebrales graves. Esto puede ayudar a los médicos a tomar decisiones sobre el tratamiento.
          </li>
          <li>Evaluación de trastornos del desarrollo en niños: El EEG puede ser útil en el diagnóstico de trastornos del desarrollo cerebral en niños, como el trastorno del espectro autista.
          </li>
          <li>Investigación científica: Los EEG se utilizan en estudios de investigación para comprender mejor la actividad cerebral en diversas situaciones, como durante la meditación, la toma de decisiones, el procesamiento de la información y otras actividades cognitivas.
          </li>
          <li>Evaluación de trastornos psiquiátricos: Aunque no es una herramienta de diagnóstico definitivo para trastornos psiquiátricos, el EEG a veces se utiliza en la investigación de enfermedades como la esquizofrenia y la depresión para estudiar las diferencias en la actividad cerebral.
          </li>
        </h3>
      </p>
    </div>
  </div>
  <div class="descarga">
    <button><a href="{%static 'ia_models/Carpeta_Tecnica_1.docx'%}" download="Carpeta_Tecnica_1.docx">Carpeta técnica</a></button>
    <button><a href="{%static 'ia_models/Carpeta_de_campo.docx'%}" download="Carpeta_de_campo.docx">Carpeta de campo</a></button>
  </div>  
   <script src="{% static 'js/inicio.js' %}"></script>
   <script src="http://code.jquery.com/jquery-latest.js"></script>
   <script src="{%static 'slick/slick.min.js'%}"></script>
   
   <script>
    $(".slideshow").slick({
      dots: true,
      autoplay: true,
      speed:1000
    });
   </script>
   
</body>
</html>
{% endblock %}
