{% extends 'web_base.html' %}
{% load static %}
{% block adicional %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{%static 'slick/slick.css'%}">
  <link rel="stylesheet" href="{%static 'slick/slick-theme.css'%}">
  <link rel="stylesheet" href="{%static 'css/inicio.css'%}">
</head>
<body>
  <div class="contenedor">
    <div class="slideshow">
      <div class="slide slide5">
        <img src="{%static 'img/las-ondas-cerebrales-alfa-beta-gamma-mostrando-mayor-actividad-mental-incluida-la-percepcion-y-conciencia-aghkjb (1).jpg'%}" alt="">
        <h1>Recording</h1>
        <h2>Comienza un recording</h2>
        <a href="resultn"><button>Ingresar</button></a>
      </div>
      <div class="slide slide4">
        <img src="{%static 'img/eeg-electrophysiological-monitoring-method-eeg-1304713.jpg'%}" alt="">
        <h1>Mis resultados</h1>
        <h2>Accede a tu historial</h2>
        <a href="historial"><button>Ingresar</button></a>
      </div>
    </div>
  </div>
  <div class="bloque-slider">
    <h2><b>Introducción</b></h2>
    <h3>Esta página es una interfaz de usuario que permite guardar recordings de los datos, 
      visualizarlos en el apartado de historial y descargar un archivo para tenerlos en formatos edf. También incluye un
      apartado experminental donde en un futuro se espera utilizar las señales para detectar epilepsia, y también se espera poder predecir
      los estados emocionales a través de estímulos visuales.
    </h3>
  </div>
  <div class="contacto">
    <div class="p-contact">
      <h1>Contactanos</h1>
      <h4><b><i class="fa-solid fa-envelope"></i> mail: </b></h4>
      <h5>brainstreamproject@gmail.com</h5>
      <h4><b><i class="fa-brands fa-instagram"></i> Seguinos en instagram!</b></h4>
      <h5><a href="">@brainstreamproject</a></h5>
      <h4><b><i class="fa-solid fa-phone"></i> Telefono de contacto: </b></h4>
      <h5>+54 11 3930-9266</h5>
      <h6>El proyecto es administrado y organizado por la institucion EESTN7 IMPA TRQ, cualquier contacto de esta institucion puede derivar a nosotros</h6>
      <img src="{%static 'img/impa.png'%}" alt="">
    </div>
    <div class="mapa">
      <h1><i class="fa-solid fa-location-dot"></i> Ubicación</h1>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.1636614606!2d-58.235592315260476!3d-34.7087593431944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e343e263fa9%3A0x5fa88a6233e34383!2sIMPA!5e0!3m2!1ses!2sar!4v1690682030323!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="contenedor_entero">
      <h1>Equipo</h1>
    <div class="contenedor_sw">
        <img src="{%static 'img/sw.jpg'%}" alt="">
        <h1>Software</h1>
        <div class="contenedor_kf">
            <h1>Kaufmann Thomas</h1>
            <img src="{%static 'img/kf.jpeg'%}" alt="">
            <div class="social">
                <a href="https://www.instagram.com/mamoruk658/"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
        </div>
        <div class="contenedor_fe">
            <h1>Przybylski Federico</h1>
            <img src="{%static 'img/fe.jpeg'%}" alt="">
            <div class="social">
                <a href="https://www.instagram.com/fedeprzy/"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
        </div>
    </div>
    <div class="contenedor_hw">
        <img src="{%static 'img/hw.jpg'%}" alt="">
        <h1>Hardware</h1>
        <div class="contenedor_arp">
            <h1>Agustín Rosales Porst</h1>
            <img src="{%static 'img/arpp.jpeg'%}" alt="">
            <div class="social">
                <a href="https://www.instagram.com/agus_porst/"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
        </div>
        <div class="contenedor_nag">
            <h1>Ortuño Alejandro</h1>
            <img src="{%static 'img/nag.jpeg'%}" alt="">
            <div class="social">
                <a href="https://www.instagram.com/ortu_nahu31/"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
        </div>
    </div>
    <div class="contenedor_ew">
        <img src="{%static 'img/ew.jpg'%}" alt="">
        <h1>Estructura</h1>
        <div class="contenedor_jj">
            <h1>Juares Agustín</h1>
            <img src="{%static 'img/jj.jpeg'%}" alt="">
            <div class="social">
                <a href="https://www.instagram.com/agustinjuaress/"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
        </div>
    </div>
  </div>
   <script src="{% static 'js/inicio.js' %}"></script>
   <script src="http://code.jquery.com/jquery-latest.js"></script>
   <script src="{%static 'slick/slick.min.js'%}"></script>
   
   <script>
    $(".slideshow").slick({
      dots: true,
      autoplay: true,
      speed:1000
    });
   </script>
   
</body>
</html>
{% endblock %}
