{% extends 'web_base.html' %}
{% load static %}
{% block adicional %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{%static 'slick/slick.css'%}">
  <link rel="stylesheet" href="{%static 'slick/slick-theme.css'%}">
  <link rel="stylesheet" href="{%static 'css/inicio.css'%}">
</head>
<body>
   <div class="contenedor">
    <div class="slideshow">
      <div class="slide slide1">
        <img src="{%static 'img/concepto.jpg'%}" alt="">
        <h1>Resultado de análisis</h1>
        <h2>Hacete un analisis de epilepsia</h2>
        <a href="cognitive"><button>Empezar</button></a>
      </div>
      <div class="slide slide2">
        <img src="{%static 'img/aeronautico.jpg'%}" alt="">
        <h1>Congnitive experience</h1>
        <h2>Mostraremos videos para ver su respuesta en pantalla</h2>
        <a href="resultn"><button>Empezar</button></a>
      </div>
      <div class="slide slide3">
        <img src="{%static 'img/firmamento.jpg'%}" alt="">
        <h1>¡Juega!</h1>
        <h2>El clasico flappy bird controlado por ondas cerebrales</h2>
        <a href="bcin"><button>Empezar</button></a>
      </div>
    </div>
   </div>
   <div class="bloque-slider">
    <h2><b>Introducción</b></h2>
    <h3>En este proyecto nos centramos en la construccion y utilizacion de un Electroencefalógrafo (EEG) para la deteccion de patologías, reconocimiento de estados cognitivos e Interfaz cerebro computadora</h3>
    <img src="{%static 'img/200_pesos.jpg'%}" alt="">
   </div>
   <script src="{% static 'js/inicio.js' %}"></script>
   <script src="http://code.jquery.com/jquery-latest.js"></script>
   <script src="{%static 'slick/slick.min.js'%}"></script>
   
   <script>
    $(".slideshow").slick({
      dots: true,
      autoplay: true,
      speed:1000
    });
   </script>
   
</body>
</html>
{% endblock %}
