*{
    margin: 0;
    padding-top: 0;
}

.p-contact h1{
    font-size: 25px;
    margin-bottom: 30px;
}

.p-contact h4{
    margin-bottom: 5px;
}
.p-contact h5{
    margin-bottom: 5px;
}
.p-contact h6{
    margin-top: 10px;
}

.p-contact img{
    margin-top: 20px;
    justify-content: center;
    width: 80%;
    height: auto;
}

.p-contact {
    position: absolute;
    display: block;
    left: 5%;
    top: 17%;
    height: 70%;
    width: 30%;
}
.mapa{
    position: absolute;
    display: block;
    right: 5%;
    top: 17%;
    height: 70%;
    width: 50%;
}
.mapa h1{
    font-size: 15px;
    margin-bottom: 3px;
}

.mapa iframe{
    width: 100%;
    height: 100%;
}

.equipo h1{
    font-size: 40px;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 100%;
}

.contenedor_entero{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 120%;
}

.contenedor_sw{
    width: 30%;
    height: 100%;
    position: absolute;
    background-color: #008000; 
    display: block;
    margin-left: 2.5%;
}

.contenedor_sw h1{
    color: white;
    font-size: 30px;
    width: 100%;
    position: absolute;
    top: calc(50% - 15px);
    text-align: center;
}

.contenedor_sw img{
    width: 100%;
    height: 100%;
    display: static;
    position: absolute;
    top: 0;
}

.contenedor_hw{
    width: 30%;
    height: 100%;
    position: absolute;
    left: 35%;
    background-color: purple; 
    display: block;
}

.contenedor_hw h1{
    color: white;
    font-size: 30px;
    width: 100%;
    position: absolute;
    top: calc(50% - 15px);
    text-align: center;
}

.contenedor_hw img{
    width: 100%;
    height: 100%;
    display: static;
    position: absolute;
    top: 0;
}

.contenedor_ew h1{
    color: white;
    font-size: 30px;
    width: 100%;
    position: absolute;
    top: calc(50% - 15px);
    text-align: center;
}

.contenedor_ew{
    width: 30%;
    height: 100%;
    position: absolute;
    left: 67.5%;
    background-color: orange; 
    display: block;
}

.contenedor_ew img{
    width: 100%;
    height: 100%;
    display: static;
    position: absolute;
    top: 0;
}

.contenedor_kf{
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: red; 
    opacity: 0;
    transition: opacity 0.5s;
}

.contenedor_kf h1{
    margin-top: 12%;
    z-index: 1;
}

.contenedor_kf img{
    width: 100%;
    height: 100%;
    display: static;
    position: absolute;
    top: 0;
}

.contenedor_fe{
    width: 100%;
    top: 50%;
    height: 50%;
    position: absolute;
    background-color: brown; 
    opacity: 0;
    transition: opacity 0.5s;
}

.contenedor_fe h1{
    margin-top: 12%;
    z-index: 1;
}

.contenedor_fe img{
    width: 100%;
    height: 100%;
    display: static;
    position: absolute;
    top: 0;
}

.contenedor_arp{
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: yellow; 
    opacity: 0;
    transition: opacity 0.5s;
}

.contenedor_arp img{
    width: 100%;
    height: 100%;
    display: static;
    position: absolute;
    top: 0;
}

.contenedor_arp h1{
    margin-top: 12%;
    z-index: 1;
}

.contenedor_nag{
    width: 100%;
    top: 50%;
    height: 50%;
    position: absolute;
    background-color: grey; 
    opacity: 0;
    transition: opacity 0.5s;
}


.contenedor_nag h1{
    margin-top: 12%;
    z-index: 1;
}

.contenedor_nag img{
    width: 100%;
    height: 100%;
    display: static;
    position: absolute;
    top: 0;
}

.contenedor_jj{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: pink; 
    opacity: 0;
    transition: opacity 0.5s;
}

.contenedor_jj h1{
    margin-top: 50%;
    z-index: 1;
}

.contenedor_jj img{
    width: 100%;
    height: 100%;
    display: static;
    position: absolute;
    top: 0;
}


.social {
    display: flex;
    visibility: hidden;
}

.social a{
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.20);
    margin-top: 62%;
    margin-inline: auto;
    border-radius: 50%;
    position: relative;
    z-index: 10;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.338);
    opacity: 0;
    transition: opacity 1s, margin-top 0.5s;

}

.contenedor_jj .social a{
    margin-top: 139%;
}

.social a .fa-brands{
    font-size: 30px;
    line-height: 60px;
    position: relative;
    z-index: 10;
}

.social a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg, grey, lightblue);
    position: absolute;
    transition: 0.5s;
    z-index: 1;
}
.social a:hover::after{
    top: 0px;
}

.social a:hover .fa-brands{
    color: white;
}

.contenedor_hw:hover > .contenedor_arp{
    opacity: 1;
}
.contenedor_hw:hover > .contenedor_nag{
    opacity: 1;

}
.contenedor_arp:hover > .social a{
    visibility: visible;
    opacity: 1;
    margin-top: 60%;
}
.contenedor_nag:hover > .social a{
    visibility: visible;
    opacity: 1;
    margin-top: 60%;
}

.contenedor_sw:hover > .contenedor_fe{
    opacity: 1;
}
.contenedor_sw:hover > .contenedor_kf{
    opacity: 1;
}
.contenedor_fe:hover > .social a{
    visibility: visible;
    opacity: 1;
    margin-top: 60%;
}
.contenedor_kf:hover > .social a{
    visibility: visible;
    opacity: 1;
    margin-top: 60%;
}

.contenedor_ew:hover > .contenedor_jj{
    opacity: 1;
}

.contenedor_jj:hover > .social a{
    visibility: visible;
    opacity: 1;
    margin-top: 137%;
}
