*{
    margin: 0;
    padding-top: 0;
}


.slick-prev{
    z-index: 1;
    display: block;
    left: 25px;
    border-radius: 40px;
}

.slick-next{
    z-index: 1;
    display: block;
    right: 25px;
    border-radius: 40px;
}

.contenedor{
    width: 100%;
    height: 600px;
    margin: auto;
    z-index: 10000;
}


.slide{
    width: 100%;
    height: 575px;
    z-index: 10000;
}

.slide img{
    width: 100%;
    z-index: 10000;
}

.slide h1{
    top: 33%;
    margin-left: 130px;
    font-family: 'Kanit', sans-serif;
    font-size: 45px;
    z-index: 1;
    position: absolute;
    display: block;
    color: lightblue;
}

.slide h2{
    top: 43%;
    margin-left: 130px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    z-index: 1;
    position: absolute;
    display: block;
    color: lightblue;
}

.slide a button{
    top: 50%;
    margin-left: 130px;
    font-size: 18px;
    z-index: 1;
    position: absolute;
    display: block;
    border-radius: 15px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color: rgba(58, 58, 109, 0.322);
    border-color: transparent;
    color: rgb(189, 189, 189);
    font-family: 'Kanit', sans-serif;
}

.slide a button:hover{
    color: white;
}

.slick-dots li button{
    height: 10px;
    width: 10px;
}

.bloque-slider{
    font-family: 'Montserrat', sans-serif;
}

.bloque-slider h2{
    margin-left: 2%;
}

.bloque-slider h3{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.bloque-slider img{
    margin-left: calc(50% - 100px);
}