*{
  overflow: hidden;
}
.botoness li a{
  color: black;
  margin-right: 35px;
}

.freq{
  position: absolute;
  margin-left: 45%;
  top: 0;
}

.counter{
  position: absolute;
  top: 0;
  margin-left: 55%;
}

.muestreo{
  position: absolute;
  margin-top: 15vh;
  width:100%;
  height:100%;
}

#chartContainer1,
#chartContainer2,
#chartContainer3,
#chartContainer4,
#chartContainer5,
#chartContainer6,
#chartContainer7,
#chartContainer8 {
  position: relative;
  left: 0px;
  width: 100%;
  height: 30px;
  z-index: 0;
}

.colorChart1,
.colorChart2, 
.colorChart3,
.colorChart4,
.colorChart5,
.colorChart6,
.colorChart7,
.colorChart8 {
  z-index: 2;
  width: 60px;
  height: 20px;
  background-color: rgb(219, 219, 219);
  color: black;
  display: flex;
  justify-content: center;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}


.lat_butons{
  background-color: rgba(128, 128, 128, 0.162);
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  z-index: 3;
}


.pbtn,
.sbtn,
.tbtn{
  position: relative;
  top: calc(50% - 50px);
  font-size: 30px;
  width: 100%;
  margin-top: 5px;
  z-index: 3;
  text-align: center;
}