.botoness li a{
    color: black;
}

.freq{
  position: absolute;
  margin-left: 45%;
  top: 0;
}

.counter{
  position: absolute;
  top: 0;
  margin-left: 55%;
}

#chartContainer1 {
    position: absolute;
    left: 0px;
    /* Ajusta la posición horizontal */
    top: 80px;
    /* Ajusta la posición vertical */
    width: 650px;
    height: 80px;
  }
  
#chartContainer2 {
  position: absolute;
  left: 0px;
  /* Ajusta la posición horizontal */
  top: 160px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer3 {
  position: absolute;
  left: 0px;
  /* Ajusta la posición horizontal */
  top: 240px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer4 {
  position: absolute;
  left: 0px;
  /* Ajusta la posición horizontal */
  top: 320px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer5 {
  position: absolute;
  left: 0px;
  /* Ajusta la posición horizontal */
  top: 400px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer6 {
  position: absolute;
  left: 0px;
  /* Ajusta la posición horizontal */
  top: 480px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer7 {
  position: absolute;
  left: 0px;
  /* Ajusta la posición horizontal */
  top: 560px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer8 {
  position: absolute;
  left: 0px;
  /* Ajusta la posición horizontal */
  top: 640px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer9 {
  position: absolute;
  left: 660px;
  /* Ajusta la posición horizontal */
  top: 80px;
  width: 650px;
  height: 80px;
}

#chartContainer10 {
  position: absolute;
  left: 660px;
  /* Ajusta la posición horizontal */
  top: 160px;
  width: 650px;
  height: 80px;
  /* top: 160px; */
}

#chartContainer11 {
  position: absolute;
  left: 660px;
  /* Ajusta la posición horizontal */
  top: 240px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer12 {
  position: absolute;
  left: 660px;
  /* Ajusta la posición horizontal */
  top: 320px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer13 {
  position: absolute;
  left: 660px;
  /* Ajusta la posición horizontal */
  top: 400px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer14 {
  position: absolute;
  left: 660px;
  /* Ajusta la posición horizontal */
  top: 480px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer15 {
  position: absolute;
  left: 660px;
  /* Ajusta la posición horizontal */
  top: 560px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}

#chartContainer16 {
  position: absolute;
  left: 660px;
  /* Ajusta la posición horizontal */
  top: 640px;
  /* Ajusta la posición vertical */
  width: 650px;
  height: 80px;
}
.colorChart1 {
  width: 40px;
  height: 20px;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.colorChart2 {
  width: 40px;
  height: 20px;
  background-color: lightblue;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart3 {
  width: 40px;
  height: 20px;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart4 {
  width: 40px;
  height: 20px;
  background-color: lawngreen;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart5 {
  width: 40px;
  height: 20px;
  background-color: yellow;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart6 {
  width: 40px;
  height: 20px;
  background-color: orange;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart7 {
  width: 40px;
  height: 20px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart8 {
  width: 40px;
  height: 20px;
  background-color: pink;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart9 {
  width: 40px;
  height: 20px;
  background-color: purple;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.colorChart10 {
  width: 40px;
  height: 20px;
  background-color: salmon;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.colorChart11 {
  width: 40px;
  height: 20px;
  background-color: brown;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart12 {
  width: 40px;
  height: 20px;
  background-color: teal;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart13 {
  width: 40px;
  height: 20px;
  background-color: hotpink;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart14 {
  width: 40px;
  height: 20px;
  background-color: aquamarine;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart15 {
  width: 40px;
  height: 20px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.colorChart16 {
  width: 40px;
  height: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.tag-1{
  display: flex;
  margin-top: 760px;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
}

.lat_butons{
  position: sticky;
  top: calc(50% - 30px);
  width: 50px;
  height: 100%;
}


.pbtn{
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.077);
}

.sbtn{
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.077);
}

.tbtn{
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.077);
}